@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Color */
/* 
    orange : #FEA301
    skyblue: #01ACFD 
    white : #F7F7F7 
    */


* {
    margin: 0;
    padding: 0;
}

/* Shared style  */
.btn-primary {
    border-radius: 12px;
    color: #ffffff;
    background: rgb(254, 163, 1);
    border: none;
    padding: 10px 40px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
}

.btn {
    align-content: center;
}

/*  Navbar Style start from here */
body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding: 15px;
}

.logo>h3 {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

nav,
.logo,
.btn-primary {
    align-content: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul li {
    list-style: none;
    padding: 0px 20px;
}

nav ul li {
    align-items: center;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

nav>ul li a {
    text-decoration: none;
    color: black;
}

nav ul li .li1 {
    color: Orange;
}

nav ul li .li2 {
    color: rgb(1, 172, 253);
}

nav ul li .li3 {
    color: rgb(5, 212, 223);
}

nav ul li .li4 {
    color: rgb(93, 88, 239);
}

/*  Banner Style Start From here */
#banner {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
}

.leftside {
    padding: 10px;
    align-content: center;
}

.banner-title {
    padding: 10px;
    font-family: Quicksand;
    font-size: 55px;
    font-weight: 700px;
}

.banner-description {
    padding: 10px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight:400;
}
.butt{
    margin: 10px;
    background-color: black;
    color:#F7F7F7;
    padding: 10px;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}




/*  Responsive for Header */

@media (max-width:576px) {

    nav,
    .btn,
    .logo>h3 {
        display: none;
    }

    .nav-container {
        width: 100%;
    }
    #banner{
        flex-direction: column-reverse;
        padding: 15px;
    }
    .rightside>img{
        width: 100%;
        justify-content: center;
    }
    .leftside{
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
    }
    .banner-description{
        font-size: 14px;
    }
}