@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Color */
/* 
    orange : #FEA301
    skyblue: #01ACFD 
    white : #F7F7F7 
    */
html,
body {
    background-color: #f7f7ff;
}

* {
    margin: 0;
    padding: 0;
}

/* Shared style  */
.btn-primary {
    border-radius: 12px;
    color: #ffffff;
    background: rgb(254, 163, 1);
    border: none;
    padding: 10px 40px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn {
    align-content: center;
    cursor: pointer;
}

/*  Navbar Style start from here */
body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding: 15px;
}

.logo>h3 {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

nav,
.logo,
.btn-primary {
    align-content: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul li {
    list-style: none;
    padding: 0px 20px;
}

nav ul li {
    align-items: center;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

nav>ul li a {
    text-decoration: none;
    color: black;
}

nav ul li .li1 {
    color: Orange;
}

nav ul li .li2 {
    color: rgb(1, 172, 253);
}

nav ul li .li3 {
    color: rgb(5, 212, 223);
}

nav ul li .li4 {
    color: rgb(93, 88, 239);
}

/*  Banner Style Start From here */
#banner {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
}

.leftside {
    padding: 10px;
    align-content: center;
}

.banner-title {
    padding: 10px;
    font-family: Quicksand;
    font-size: 55px;
    font-weight: 700px;
}

.banner-description {
    padding: 10px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
}

.butt {
    margin: 10px;
    background-color: black;
    color: #F7F7F7;
    padding: 10px 30px;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}


/* Curriculum  Section Start from here */
#curriculum {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    align-content: center;
    justify-content: center;
}

.curr-title {
    font-family: Quicksand;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;
}

.card-container {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
}

.card {
    width: 333px;
    justify-items: center;
    background-image: linear-gradient(#DEF5FF, #f7f7ff);
    padding: 50px 20px;
    border-radius: 15px;
}

.card2 {
    width: 333px;
    justify-items: center;
    background-image: linear-gradient(#FFF4DC, #ffffff);
    padding: 50px 20px;
    border-radius: 15px;
}

.card3 {
    width: 333px;
    justify-items: center;
    background-image: linear-gradient(#f3eefa, #ffffff);
    padding: 50px 20px;
    border-radius: 15px;
}

.card-title {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.card-description {
    font-family: raleway;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.btn-card {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #F7F7F7;
    color: #64C8FF;
    cursor: pointer;
}

.icon1,
.icon2 {
    background-color: #FEA301;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 12px;
    color: #f3eefa;
}

.icon {
    padding-top: 50px;
    text-align: center;
}

/* Story Section Style Start from here */
#stories {
    background-image: url(assets/bg.png);
}

.stories-container {
    background: url(image), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    padding-bottom: 50px;
}

.stories-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 50px;
}

.stori-container {
    display: flex;
    width: 1200px;
    margin: 10px auto;
}

.multiple-box {
    width: 622px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box1,
.box2,
.box3,
.box4,
.single-box {
    width: 250px;
    background-color: #F7F7F7;
    border-radius: 20px;
    margin: 20px;
}

.box-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 28px;
    font-weight: 700;
    line-height: 38.35px;
    text-align: left;
    padding: 20px;
}

.box-title1,
.box-title2,
.box-title3,
.box-title4 {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: bold;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    padding: 20px;
}

.box-description {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    padding: 20px;
    text-align: left;
}

.single-box {
    width: 630px;
    background-color: #f7f7ff;
    border-radius: 20px;
    padding: 0;
    height: auto;
    margin: 20px;
}

img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}


/* Footer Section Start From here */

footer {
    background-color: rgb(1, 172, 253);
    ;
    height: 400px;
    align-content: center;
}

.footer-container {
    width: 1200px;
    margin: 0px auto;
    align-content: center;
    display: flex;
}

.logo-part,
.about-part,
.keep-part {
    width: 400px;
    align-items: center;
    justify-content: center;
}

.about-part>h1 {
    padding-left: 20px;
    padding-bottom: 20px;
}

.l-im {
    display: flex;
}

.l-im img {
    width: 82.9px;
    height: 81.65px;
    padding: 0px 20px;
}

.l-im h3,
.about-part>h1,
.keep-part>h1 {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
}

.logo-details {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    padding: 30px;
}

.footer-nav>ul {
    flex-direction: column;
    text-align: left;
    align-items: start;
    justify-content: flex-start;
}

.footer-nav li {
    line-height: 40px;
}

.footer-nav ul li>a {
    color: #ffffff;
    text-align: left;
}

.keep-part>i {
    font-size: 25px;
    padding-top: 40px;
    letter-spacing: 10px;
    cursor: pointer;
    color: white;
}


/*  Responsive for Header */

@media (max-width:576px) {

    nav,
    .btn,
    .logo>h3 {
        display: none;
    }

    .nav-container {
        width: 100%;
    }

    #banner {
        flex-direction: column-reverse;
        padding: 15px;
    }

    .rightside>img {
        width: 100%;
        justify-content: center;
    }

    .leftside {
        text-align: center;
    }

    .banner-title {
        font-size: 32px;
    }

    .banner-description {
        font-size: 14px;
    }

    /* Curriculum Section style start from here */
    .card-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .curr-title {
        padding-top: 50px;
    }

    .icon {
        display: none;
    }

    /* Story Section Style start from here */
    .single-box {
        display: none;
    }

    .stories-container {
        margin-top: 600px;
    }

    .multiple-box {
        width: 500px;
    }

    .box1,
    .box2,
    .box3,
    .box4{
        width: 200px;
        background-color: #F7F7F7;
        border-radius: 20px;
        margin: 20px;
    }
    /* Footer Section design */

    
}